
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 99rem;
}.item-990-Tvn {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .header-1xJ {
    overflow: hidden;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    width: 100%;
    height: 10rem;
    row-gap: 1rem;
    display: flex;
    flex-direction: column;

    .headercontent-push-k9C {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      align-items: center;

      .slide-16-9-3-i62 {
        margin-bottom: 10rem;
        width: 100%;
        height: 10rem;
        overflow: hidden;
        position: relative;
        background-color: #8378d5;
        flex-shrink: 0;
      }
      .slide-16-9-4-E4N {
        width: 100%;
        height: 10rem;
        overflow: hidden;
        position: relative;
        background-color: #8378d5;
        flex-shrink: 0;
      }
    }
    .headercontent-mobile-BEW {
      margin: 0 1.6rem;
      width: calc(100% - 3.2rem);
      height: 5.6rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;

      .frame-4-iVL {
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;

        .item-2-UzJ {
          width: 15rem;
          height: 4.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 75.2rem;
        }
        .icn-burger-Qsx {
          width: 5.6rem;
          height: 5.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .headercontent-desktop-ite {
      overflow: hidden;
      flex-shrink: 0;
      width: 100%;
      height: 6.6rem;
      position: relative;

      .item-2-t2S {
        top: 1rem;
        object-fit: cover;
        vertical-align: top;
        width: 15rem;
        height: 4.6rem;
        position: absolute;
        left: 5rem;
      }
      .frame-1-ov6 {
        width: 110.1rem;
        height: 2.8rem;
        position: absolute;
        left: -16.8rem;
        top: 1.85rem;
        display: flex;
        align-items: flex-start;

        .item--WZc {
          font-weight: 400;
          line-height: 1.3722222646;
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.3rem 2.1rem 0rem 0rem;
          font-size: 1.8rem;
        }
        .item--nGE {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.8409rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3722222646;
          color: #1e1e1e;
        }
        .item--TtA {
          flex-shrink: 0;
          margin-right: 2.3591rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3722222646;
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item--zt6 {
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.8rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3722222646;
        }
        .item--WbY {
          font-weight: 400;
          line-height: 1.3722222646;
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.5rem;
          font-size: 1.8rem;
        }
        .item--EnS {
          font-weight: 400;
          line-height: 1.3722222646;
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.1rem;
          font-size: 1.8rem;
        }
        .item--Nte {
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.8rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3722222646;
        }
        .item--ihc {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3722222646;
          color: #1e1e1e;
        }
        .item--FhY {
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3722222646;
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .ul-collapsed-ApW {
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.8rem 36.7rem 5.2rem 35.2rem;
    width: 100%;
    height: 43.5rem;
    overflow: hidden;
    position: relative;

    .frame-1-gnr {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      .auto-group-6tnj-EJa {
        box-sizing: border-box;
        padding: 0rem 0.659rem 5.4rem 0.8rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item--a7Y {
          flex-shrink: 0;
          margin: 0rem 0rem 4.8rem 0.259rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3722222646;
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-81a6-rKx {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .item--c4E {
            color: #1e1e1e;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.8409rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3722222646;
          }
          .item--tXY {
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3722222646;
            color: #1e1e1e;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .auto-group-3xee-Pz6 {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item--ZNn {
          line-height: 1.3722222646;
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.8rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
        .item--rsg {
          line-height: 1.3722222646;
          color: #1e1e1e;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .auto-group-haqc-P6v {
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 5.4rem 0.85rem 0rem 1.65rem;
        width: 100%;
        align-items: center;
        display: flex;

        .auto-group-qeyk-xpE {
          margin: 0rem 1.45rem 5.4rem 1.35rem;
          width: calc(100% - 2.8rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .item--tC6 {
            color: #1e1e1e;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.1rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3722222646;
          }
          .item--cNz {
            line-height: 1.3722222646;
            color: #1e1e1e;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
          }
        }
        .auto-group-vax6-wgA {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .item--WUN {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3722222646;
            color: #1e1e1e;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .item--Cc6 {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3722222646;
            color: #1e1e1e;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
