
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 23.9rem;
}.icon-TkA {
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 3rem;
  padding-bottom: 5.6rem;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;

  .frame-6-o3L {
    font-size: 2.4rem;
    white-space: nowrap;
    border-radius: 3rem 3rem 0 0;
    width: 100%;
    justify-content: center;
    flex-shrink: 0;
    height: 14.3rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 5.7rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    display: flex;
    align-items: center;
    background-color: #6c5fc5;
  }
  .icn-burger-eJr {
    border-radius: 0.5rem;
    flex-shrink: 0;
    margin-left: 0.1rem;
    width: 6.4rem;
    height: 6rem;
    object-fit: contain;
    vertical-align: top;
  }
}
