
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 32.9rem;
}.nav-li-HCr {
  box-sizing: border-box;
  padding-bottom: 5rem;
  overflow: hidden;
  flex-direction: column;
  border-radius: 3rem;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  background-color: #ffffff;

  .frame-6-Yea {
    background-color: #6c5fc5;
    width: 100%;
    line-height: 1.2125;
    display: flex;
    flex-shrink: 0;
    font-size: 2.4rem;
    align-items: center;
    justify-content: center;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    border-radius: 3rem 3rem 0 0;
    margin-bottom: 3.5rem;
    font-weight: 400;
    color: #ffffff;
    height: 14.3rem;
  }
  .nav-li-arA {
    flex-direction: column;
    border: dashed 0.1rem #9747ff;
    margin: 0rem 6.45rem 0rem 6.35rem;
    box-sizing: border-box;
    padding: 0.4rem;
    width: calc(100% - 12.8rem);
    overflow: hidden;
    row-gap: 2rem;
    flex-shrink: 0;
    position: relative;
    display: flex;
    border-radius: 0.5rem;

    .sale-g8W {
      height: 2.3rem;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      color: #1e1e1e;
      white-space: nowrap;
      width: 100%;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3722222646;
    }
    .beauty-oD8 {
      height: 2.9rem;
      font-size: 1.8rem;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      width: 14.8rem;
      font-weight: 400;
      line-height: 1.3722222646;
      color: #1e1e1e;
      white-space: nowrap;
    }
    .law-uX4 {
      width: 7.2rem;
      font-size: 1.8rem;
      font-weight: 400;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      box-sizing: border-box;
      height: 2.9rem;
      line-height: 1.3722222646;
      color: #1e1e1e;
      padding: 0 0.0409rem;
    }
    .shops-REW {
      width: 10.5rem;
      height: 2.9rem;
      color: #1e1e1e;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3722222646;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .facilities-iDc {
      white-space: nowrap;
      width: 8.9rem;
      line-height: 1.3722222646;
      color: #1e1e1e;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      height: 2.9rem;
      font-size: 1.8rem;
      font-weight: 400;
    }
    .business-boC {
      font-weight: 400;
      line-height: 1.3722222646;
      color: #1e1e1e;
      white-space: nowrap;
      flex-shrink: 0;
      width: 14.7rem;
      height: 2.9rem;
      font-size: 1.8rem;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .masters-6zr {
      height: 2.9rem;
      line-height: 1.3722222646;
      font-family: Montserrat, 'Source Sans Pro';
      width: 9.3rem;
      font-weight: 400;
      color: #1e1e1e;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.8rem;
    }
    .fun-39Q {
      font-size: 1.8rem;
      color: #1e1e1e;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      width: 8.3rem;
      height: 2.9rem;
      font-weight: 400;
      line-height: 1.3722222646;
    }
    .guide-yHx {
      width: 9.8rem;
      height: 2.9rem;
      line-height: 1.3722222646;
      white-space: nowrap;
      font-size: 1.8rem;
      font-weight: 400;
      color: #1e1e1e;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .coop-Jb8 {
      height: 2.9rem;
      font-weight: 400;
      line-height: 1.3722222646;
      color: #1e1e1e;
      flex-shrink: 0;
      width: 10.5rem;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.8rem;
    }
  }
}
