
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--xWA {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 3rem;
  flex-direction: column;

  .headercontent-desktop-ffU {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 5.7rem 1rem 5rem;
    width: calc(100% - 10.7rem);
    height: 4.6rem;
    overflow: hidden;
    position: relative;

    .item-2-PLa {
      flex-shrink: 0;
      margin-right: 8.2rem;
      width: 15rem;
      height: 4.6rem;
      object-fit: cover;
      vertical-align: top;
    }
    .frame-1-JiS {
      margin: 0.85rem 0rem 1.25rem 0rem;
      height: calc(100% - 2.1rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .item--Pjt {
        font-weight: 400;
        line-height: 1.3722222646;
        color: #1e1e1e;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.1rem;
        font-size: 1.8rem;
      }
      .item--UmL {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.8409rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3722222646;
        color: #1e1e1e;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .item--BQr {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.3591rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3722222646;
        color: #1e1e1e;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .item--i9t {
        cursor: pointer;
        font-weight: 400;
        line-height: 1.3722222646;
        color: #1e1e1e;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.8rem;
        font-size: 1.8rem;
      }
      .item--Q2i {
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.5rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3722222646;
        color: #1e1e1e;
      }
      .item--7hp {
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.1rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3722222646;
        color: #1e1e1e;
      }
      .item--Szz {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3722222646;
        color: #1e1e1e;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.8rem;
      }
      .item--98i {
        flex-shrink: 0;
        margin-right: 2rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3722222646;
        color: #1e1e1e;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--URt {
        line-height: 1.3722222646;
        color: #1e1e1e;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
  }
  .auto-group-9cvt-nSa {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7.8rem 11.2rem 6.4rem 11.2rem;
    width: 100%;
    align-items: center;
    display: flex;

    .heading-and-supporting-text-6TG {
      margin: 0rem 1.9rem 6.4rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .heading-di6 {
        font-size: 3.6rem;
        letter-spacing: -0.072rem;
        color: #101728;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2rem;
        font-weight: 600;
        line-height: 1.2222222222;
      }
      .supporting-text-LsQ {
        flex-shrink: 0;
        max-width: 119.7rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #667084;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .container-Uii {
      margin-left: 0.1rem;
      width: calc(100% - 0.1rem);
      height: 56rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .content-boL {
        flex-direction: column;
        flex-shrink: 0;
        margin: 6.8rem 9.85rem 6.8rem 0rem;
        width: 55.65rem;
        height: calc(100% - 13.6rem);
        align-items: center;
        display: flex;

        .row-Xgz {
          margin: 0rem 0.15rem 6.4rem 0.25rem;
          width: calc(100% - 0.4rem);
          height: 16.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .number-and-text-S3G {
            margin-right: 3.95rem;
            width: 25.7rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .number-NxW {
              margin-bottom: 1.2rem;
              font-size: 6rem;
              letter-spacing: -0.12rem;
              color: #6c5fc5;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              text-align: center;
              font-weight: 600;
              line-height: 1.2;
              flex-shrink: 0;
            }
            .text-and-supporting-text-uSe {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .text-DiE {
                margin-bottom: 0.8rem;
                text-align: center;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 500;
                line-height: 1.5555555556;
                color: #101728;
              }
              .supporting-text-ky4 {
                line-height: 1.5;
                color: #667084;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 25.7rem;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 400;
              }
            }
          }
          .number-and-text-4yk {
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 25.6rem;

            .number-QXp {
              margin-bottom: 1.2rem;
              font-size: 6rem;
              font-weight: 600;
              color: #6c5fc5;
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              line-height: 1.2;
              letter-spacing: -0.12rem;
              font-family: Inter, 'Source Sans Pro';
            }
            .text-and-supporting-text-vWA {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .text-HLi {
                margin-bottom: 0.8rem;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.8rem;
                font-weight: 500;
                line-height: 1.5555555556;
                color: #101728;
              }
              .supporting-text-RSv {
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 25.6rem;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #667084;
              }
            }
          }
        }
        .row-xSr {
          width: 100%;
          height: 19.2rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .number-and-text-7qY {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 3.55rem;
            width: 26.2rem;
            height: 100%;

            .number-oyG {
              line-height: 1.2;
              letter-spacing: -0.12rem;
              white-space: nowrap;
              text-align: center;
              font-size: 6rem;
              color: #6c5fc5;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-weight: 600;
            }
            .text-and-supporting-text-vnz {
              flex-shrink: 0;
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;

              .text-SFY {
                text-align: center;
                font-weight: 500;
                color: #101728;
                font-family: Inter, 'Source Sans Pro';
                margin-bottom: 0.8rem;
                font-size: 1.8rem;
                line-height: 1.5555555556;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .supporting-text-kn2 {
                text-align: center;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #667084;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 26.2rem;
              }
            }
          }
          .number-and-text-J2r {
            width: 25.9rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .number-Fin {
              margin-bottom: 1.2rem;
              text-align: center;
              font-weight: 600;
              color: #6c5fc5;
              white-space: nowrap;
              font-size: 6rem;
              line-height: 1.2;
              letter-spacing: -0.12rem;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .text-and-supporting-text-zgN {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .text-XwC {
                text-align: center;
                font-size: 1.8rem;
                font-weight: 500;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.8rem;
                line-height: 1.5555555556;
                color: #101728;
                flex-shrink: 0;
              }
              .supporting-text-gJJ {
                color: #667084;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 25.9rem;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
              }
            }
          }
        }
      }
      .image-p9c {
        flex-shrink: 0;
        width: 56rem;
        height: 56rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.8rem;
      }
    }
  }
  .item-3-9xa {
    height: 86.6214rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 6.4rem;
    box-sizing: border-box;
    background-color: #f8fafc;
    padding-right: 18rem;
    width: 100%;

    .bg-VmY {
      height: 100%;
      position: relative;
      background-color: #6c5fc5;
      flex-shrink: 0;
      margin-right: 9.3rem;
      width: 62.5rem;

      .text-content-rc6 {
        width: 42.4rem;
        height: 74.6214rem;
        position: absolute;
        left: 10rem;
        top: 6rem;

        .title-Prv {
          margin: 0rem 0rem 28.222rem 0.325rem;
          display: flex;
          flex-direction: column;

          .item--u4a {
            flex-shrink: 0;
            margin-bottom: 7.1rem;
            max-width: 40.2rem;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.25;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .item--jpJ {
            max-width: 38.7rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #cbd5e1;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .quote-jC2 {
          width: 100%;
          display: flex;
          flex-direction: column;

          .review-gsx {
            margin-bottom: 2.3001rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .star-1-Eea {
              margin-right: 0.7rem;
              width: 2.0725rem;
              height: 2.1998rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .star-2-xKg {
              margin-right: 0.7001rem;
              width: 2.0725rem;
              height: 2.1998rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .star-3-SEr {
              margin-right: 0.7rem;
              width: 2.0725rem;
              height: 2.1998rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .star-4-nJi {
              flex-shrink: 0;
              margin-right: 0.7rem;
              width: 2.0725rem;
              height: 2.1998rem;
              object-fit: contain;
              vertical-align: top;
            }
            .star-5-Y2z {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2.0725rem;
              height: 2.1998rem;
            }
          }
          .item--sb4 {
            flex-shrink: 0;
            margin: 0rem 0rem 3.7rem 0rem;
            max-width: 42.4rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .user-aXQ {
            margin: 0rem 28.451rem 0rem 0rem;
            width: calc(100% - 28.4509rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .bg-6ke {
              flex-shrink: 0;
              margin-right: 1.3rem;
              width: 4.0491rem;
              height: 4.499rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 15.847rem;
            }
            .item--SJi {
              display: flex;
              line-height: 1.75;
              letter-spacing: -0.02rem;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0rem;
              font-size: 1.6rem;
              font-weight: 600;
              white-space: nowrap;
            }
          }
        }
      }
      .mask-group-hkS {
        object-fit: contain;
        vertical-align: top;
        width: 62.5rem;
        height: 86.6rem;
        position: absolute;
        left: 0;
        top: 0rem;
      }
    }
    .input-content-p4N {
      margin: 6rem 0;
      height: calc(100% - 12rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .title-xRU {
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 3.2rem;
        display: flex;

        .u-ifY {
          margin-bottom: 1rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.25;
          color: #080814;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item--e3Q {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #52525b;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .input-8DU {
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 3.2rem;
        width: 52.6rem;
        row-gap: 3rem;
        display: flex;

        .email-fjC {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;

          .item--Cj8 {
            color: #080814;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            display: flex;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .bg-JXG {
            width: 100%;
            height: 6rem;
            border: solid 0.1rem #cbd5e1;
            box-sizing: border-box;
            background-color: #f8fafc;
            border-radius: 1.2rem;
            flex-shrink: 0;
          }
        }
        .email-3Dx {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;

          .item--ytJ {
            font-weight: 400;
            color: #080814;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.2rem;
            display: flex;
            font-size: 1.6rem;
            line-height: 1.5;
            flex-shrink: 0;
          }
          .bg-5wL {
            width: 100%;
            height: 6rem;
            border: solid 0.1rem #cbd5e1;
            box-sizing: border-box;
            background-color: #f8fafc;
            border-radius: 1.2rem;
            flex-shrink: 0;
          }
        }
        .password-dT4 {
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          display: flex;

          .item--CFG {
            display: flex;
            font-weight: 400;
            color: #080814;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            font-size: 1.6rem;
            line-height: 1.5;
          }
          .bg-W14 {
            width: 100%;
            height: 6rem;
            border: solid 0.1rem #cbd5e1;
            box-sizing: border-box;
            background-color: #f8fafc;
            border-radius: 1.2rem;
            flex-shrink: 0;
          }
        }
        .text-RNv {
          margin-right: 3.59rem;
          width: calc(100% - 3.59rem);
          height: 2rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .check-AbQ {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 19.21rem;
            height: 100%;

            .shape-j8i {
              border-radius: 0.5rem;
              flex-shrink: 0;
              margin-right: 0.8rem;
              width: 2rem;
              height: 2rem;
              border: solid 0.1rem #94a3b8;
              box-sizing: border-box;
            }
            .item--4Rt {
              color: #18181b;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 600;
              line-height: 1.4285714286;
            }
          }
          .item--mbC {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.4285714286;
            color: #6c5fc5;
          }
        }
      }
      .btn-primary-gy4 {
        background-color: #8378d5;
        height: 6.4rem;
        font-size: 1.4rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        margin-bottom: 3.2rem;
        line-height: 1.4285714286;
        align-items: center;
        flex-shrink: 0;
        border-radius: 1rem;
        width: 52.6rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .button-primary-with-icon-mDp {
        width: 52.6rem;
        height: 6.3214rem;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-bottom: 3.2rem;
        box-sizing: border-box;
        padding: 2rem 18.08rem 2rem 18.08rem;

        .frame-1-TsL {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;

          .google-2-pxn {
            margin-right: 0.9rem;
            width: 2.4393rem;
            height: 2.3214rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-jvqg-NjQ {
            display: flex;
            font-weight: 600;
            justify-content: center;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0.1607rem 0;
            width: 13.1rem;
            height: calc(100% - 0.3214rem);
            font-size: 1.4rem;
            line-height: 1.4285714286;
            color: #1e293b;
            align-items: center;
            flex-shrink: 0;
          }
        }
      }
      .item--rea {
        font-size: 1.4rem;
        color: #64748b;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: baseline;
        flex-shrink: 0;
        display: flex;
        font-weight: 600;
        line-height: 1.4285714286;

        .item--rea-sub-0 {
          color: #64748b;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 600;
          line-height: 1.4285714286;
        }
        .item--rea-sub-1 {
          font-size: 1.4rem;
          font-weight: 600;
          line-height: 1.4285714286;
          color: #6c5fc5;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
  }
  .footer-Mmg {
    box-sizing: border-box;
    padding: 2.4rem 22.507rem 2.6rem 22.507rem;
    width: 100%;
    height: 9.8rem;
    display: flex;
    align-items: center;
    background-color: #f6f9fa;
    flex-shrink: 0;

    .um-inc-VN6 {
      display: flex;
      font-size: 1.4rem;
      line-height: 1.4285714286;
      color: #141221;
      white-space: nowrap;
      margin-right: 5.6rem;
      font-weight: 400;
      font-family: Commissioner, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .list-zJr {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .items-9hY {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 1.4rem 2.185rem 1.4rem 0rem;
        height: calc(100% - 2.8rem);

        .item-link--fQz {
          font-family: Commissioner, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.5rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          color: #141221;
          display: flex;
        }
        .item-link-cookie-jve {
          display: flex;
          font-weight: 400;
          color: #141221;
          margin-right: 4rem;
          font-size: 1.4rem;
          line-height: 1.4285714286;
          font-family: Commissioner, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item-link--FPC {
          margin-right: 2.1rem;
          display: flex;
          font-weight: 400;
          line-height: 1.4285714286;
          font-family: Commissioner, 'Source Sans Pro';
          font-size: 1.4rem;
          color: #141221;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .link--jpA {
          color: #141221;
          font-family: Commissioner, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
        }
      }
      .divfootermain-info-soc-G3Q {
        box-sizing: border-box;
        padding: 0.7rem 0rem 0.9rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #f6f9fa;
        border-radius: 1.6rem;
        flex-shrink: 0;

        .item--BAN {
          line-height: 1.5;
          flex-shrink: 0;
          margin: 0.2rem 0.6rem 0rem 0rem;
          display: flex;
          font-size: 1.6rem;
          font-weight: 400;
          text-align: right;
          color: #141221;
          font-family: Commissioner, 'Source Sans Pro';
          white-space: nowrap;
        }
        .list-rXQ {
          column-gap: 1.2rem;
          align-items: center;
          flex-shrink: 0;
          height: 100%;
          display: flex;

          .item-margin-CrA {
            width: 3.2rem;
            height: 3.2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-margin-A2J {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.2rem;
            height: 3.2rem;
          }
          .item-margin-gmL {
            width: 3.2rem;
            height: 3.2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-qu8 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.2rem;
            height: 3.2rem;
          }
        }
      }
    }
  }
}
