
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 76.8rem;
}.item--MHG {
  flex-direction: column;
  background-color: #ffffff;
  position: relative;
  padding-top: 1rem;
  width: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  box-sizing: border-box;

  .headercontent-mobile-QFY {
    margin: 0rem 1.6rem 7.4rem 1.6rem;
    width: calc(100% - 3.2rem);
    height: 5.6rem;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;

    .frame-4-7Qr {
      align-items: center;
      width: 100%;
      height: 100%;
      display: flex;

      .item-2-UFQ {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 53rem;
        width: 15rem;
        height: 4.6rem;
      }
      .icn-burger-PdG {
        flex-shrink: 0;
        width: 5.6rem;
        height: 5.6rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .table-JES {
    background-color: #ffffff;
    position: relative;
    align-items: center;
    border: solid 0.1rem #eaecf0;
    flex-shrink: 0;
    padding: 0rem 0rem 4rem 4rem;
    flex-direction: column;
    border-radius: 0.8rem;
    width: 100%;
    display: flex;
    box-shadow: 0 0.2rem 0.4rem rgba(16, 24, 40, 0.0599999987), 0 0.4rem 0.8rem rgba(16, 24, 40, 0.1000000015);
    margin-bottom: 4rem;
    box-sizing: border-box;
    overflow: hidden;

    .card-header-2RL {
      background-color: #ffffff;
      margin-right: 4rem;
      padding: 2rem 2.4rem 1.9rem 2.4rem;
      font-size: 2rem;
      white-space: nowrap;
      color: #101728;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      box-sizing: border-box;
      width: 68.8rem;
      font-weight: 600;
      line-height: 1.5;
    }
    .content-7Sn {
      width: 73.1rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      flex-shrink: 0;

      .auto-group-qjdx-4cv {
        width: 100%;
        height: 28rem;
        flex-shrink: 0;

        .row-pMC {
          width: 68.8rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .table-cell-Afx {
            box-sizing: border-box;
            padding: 1.6rem 2.7rem 1.6rem 2.4rem;
            width: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #eaecf0;
            background-color: #f8f9fb;
            flex-shrink: 0;

            .featured-icon-Hka {
              vertical-align: top;
              border-radius: 2rem;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
            }
            .text-Lyk {
              max-width: 58.5rem;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.4285714286;
              color: #101728;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .table-cell-dT4 {
            background-color: #f8f9fb;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4285714286;
            white-space: nowrap;
            font-family: Inter, 'Source Sans Pro';
            border: solid 0.1rem #eaecf0;
            box-sizing: border-box;
            padding: 1.6rem 2.4rem;
            width: 100%;
            color: #667084;
          }
          .table-cell-8uc {
            white-space: nowrap;
            border: solid 0.1rem #eaecf0;
            padding: 1.6rem 2.4rem;
            font-size: 1.4rem;
            color: #667084;
            line-height: 1.4285714286;
            font-family: Inter, 'Source Sans Pro';
            background-color: #f8f9fb;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
            font-weight: 400;
          }
          .table-cell-TBC {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.6rem 2.4rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border: solid 0.1rem #eaecf0;
            width: 100%;
            font-size: 1.4rem;
            line-height: 1.4285714286;
            color: #667084;
            background-color: #f8f9fb;
          }
          .table-cell-yQS {
            flex-shrink: 0;
            padding: 1.6rem 2.4rem;
            font-size: 1.4rem;
            line-height: 1.4285714286;
            color: #667084;
            white-space: nowrap;
            border: solid 0.1rem #eaecf0;
            box-sizing: border-box;
            width: 100%;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            background-color: #f8f9fb;
          }
        }
      }
      .auto-group-qutn-GeS {
        box-sizing: border-box;
        padding-top: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .row-BFc {
          flex-shrink: 0;
          margin-bottom: 2rem;
          width: 68.8rem;
          row-gap: 0rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .table-cell-7ux {
            align-items: center;
            border: solid 0.1rem #eaecf0;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.92rem 2.7rem 0.92rem 2.4rem;
            width: 100%;
            display: flex;

            .featured-icon-TU2 {
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 2rem;
            }
            .text-zTx {
              color: #101728;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 58.5rem;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.4285714286;
            }
          }
          .table-cell-XCz {
            border: solid 0.1rem #eaecf0;
            padding: 1.92rem 2.4rem 1.92rem 2.4rem;
            font-weight: 400;
            color: #667084;
            line-height: 1.4285714286;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
            font-size: 1.4rem;
          }
          .auto-group-zlva-2fY {
            height: 11.68rem;
            position: relative;
            flex-shrink: 0;
            width: 100%;

            .table-cell-xJJ {
              white-space: nowrap;
              padding: 1.92rem 2.4rem 1.92rem 2.4rem;
              left: 0;
              top: 0;
              height: 5.84rem;
              position: absolute;
              border: solid 0.1rem #eaecf0;
              width: 68.8rem;
              font-size: 1.4rem;
              font-family: Inter, 'Source Sans Pro';
              color: #667084;
              box-sizing: border-box;
              font-weight: 400;
              line-height: 1.4285714286;
            }
            .table-cell-SDU {
              left: 0;
              padding: 1.92rem 2.4rem 1.92rem 2.4rem;
              height: 5.84rem;
              position: absolute;
              font-size: 1.4rem;
              font-family: Inter, 'Source Sans Pro';
              box-sizing: border-box;
              width: 68.8rem;
              font-weight: 400;
              white-space: nowrap;
              top: 5.84rem;
              line-height: 1.4285714286;
              color: #667084;
              border: solid 0.1rem #eaecf0;
            }
          }
          .table-cell-hv6 {
            padding: 1.92rem 2.4rem 1.92rem 2.4rem;
            font-size: 1.4rem;
            color: #667084;
            font-family: Inter, 'Source Sans Pro';
            box-sizing: border-box;
            font-weight: 400;
            line-height: 1.4285714286;
            white-space: nowrap;
            border: solid 0.1rem #eaecf0;
            flex-shrink: 0;
            width: 100%;
          }
        }
        .row-Aog {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 2rem;
          width: 68.8rem;
          align-items: center;
          display: flex;

          .table-cell-7iv {
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 0rem;
            box-sizing: border-box;
            padding: 1.12rem 6.8rem 1.12rem 2.4rem;
            border: solid 0.1rem #eaecf0;
            background-color: #f8f9fb;

            .featured-icon-3sU {
              margin-right: 1.2rem;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 2rem;
              flex-shrink: 0;
            }
            .text-mHg {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.4285714286;
              color: #101728;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .auto-group-kkuw-gfY {
            margin-bottom: 0rem;
            width: 100%;
            height: 12.48rem;
            position: relative;
            flex-shrink: 0;

            .table-cell-R7L {
              left: 0;
              color: #667084;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              background-color: #f8f9fb;
              box-sizing: border-box;
              height: 6.24rem;
              position: absolute;
              font-weight: 400;
              line-height: 1.4285714286;
              border: solid 0.1rem #eaecf0;
              padding: 2.12rem 2.4rem 2.12rem 2.4rem;
              width: 68.8rem;
              top: 0;
              font-size: 1.4rem;
            }
            .table-cell-H9Y {
              top: 6.24rem;
              border: solid 0.1rem #eaecf0;
              left: 0;
              font-size: 1.4rem;
              font-weight: 400;
              color: #667084;
              white-space: nowrap;
              background-color: #f8f9fb;
              box-sizing: border-box;
              padding: 2.12rem 2.4rem 2.12rem 2.4rem;
              height: 6.24rem;
              position: absolute;
              font-family: Inter, 'Source Sans Pro';
              width: 68.8rem;
              line-height: 1.4285714286;
            }
          }
          .auto-group-dh8r-Xpa {
            width: 100%;
            height: 12.48rem;
            position: relative;
            flex-shrink: 0;

            .table-cell-BeE {
              left: 0;
              top: 0;
              font-size: 1.4rem;
              font-weight: 400;
              background-color: #f8f9fb;
              box-sizing: border-box;
              position: absolute;
              color: #667084;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              padding: 2.12rem 2.4rem 2.12rem 2.4rem;
              width: 68.8rem;
              height: 6.24rem;
              line-height: 1.4285714286;
              border: solid 0.1rem #eaecf0;
            }
            .table-cell-Dqp {
              width: 68.8rem;
              position: absolute;
              border: solid 0.1rem #eaecf0;
              background-color: #f8f9fb;
              height: 6.24rem;
              top: 6.24rem;
              font-weight: 400;
              padding: 2.12rem 2.4rem 2.12rem 2.4rem;
              color: #667084;
              white-space: nowrap;
              box-sizing: border-box;
              left: 0;
              font-size: 1.4rem;
              line-height: 1.4285714286;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .row-sfU {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 2rem;
          width: 69.7rem;
          align-items: center;

          .table-cell-2oG {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.12rem 0rem 1.12rem 2.4rem;
            width: 100%;
            display: flex;
            align-items: center;
            border: solid 0.1rem #eaecf0;

            .featured-icon-aZt {
              margin-right: 1.2rem;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 2rem;
              flex-shrink: 0;
            }
            .text-WyL {
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.4285714286;
              color: #101728;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .auto-group-wnuc-3yG {
            box-sizing: border-box;
            padding-top: 0rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-jw6j-ayC {
              margin-bottom: 0rem;
              width: 68.8rem;
              height: 12.48rem;
              position: relative;
              flex-shrink: 0;

              .table-cell-Y9L {
                box-sizing: border-box;
                font-size: 1.4rem;
                white-space: nowrap;
                width: 68.8rem;
                left: 0;
                color: #667084;
                border: solid 0.1rem #eaecf0;
                padding: 2.12rem 2.4rem 2.12rem 2.4rem;
                height: 6.24rem;
                position: absolute;
                top: 0;
                font-weight: 400;
                line-height: 1.4285714286;
                font-family: Inter, 'Source Sans Pro';
              }
              .table-cell-Riv {
                line-height: 1.4285714286;
                border: solid 0.1rem #eaecf0;
                box-sizing: border-box;
                padding: 2.12rem 2.4rem 2.12rem 2.4rem;
                position: absolute;
                left: 0;
                top: 6.24rem;
                font-size: 1.4rem;
                font-weight: 400;
                font-family: Inter, 'Source Sans Pro';
                width: 68.8rem;
                height: 6.24rem;
                color: #667084;
                white-space: nowrap;
              }
            }
            .auto-group-h3m8-5oU {
              width: 68.8rem;
              height: 12.48rem;
              position: relative;
              flex-shrink: 0;

              .table-cell-EgN {
                padding: 2.12rem 2.4rem 2.12rem 2.4rem;
                height: 6.24rem;
                position: absolute;
                left: 0;
                font-size: 1.4rem;
                font-family: Inter, 'Source Sans Pro';
                box-sizing: border-box;
                line-height: 1.4285714286;
                color: #667084;
                border: solid 0.1rem #eaecf0;
                width: 68.8rem;
                top: 0;
                font-weight: 400;
                white-space: nowrap;
              }
              .table-cell-Wdt {
                top: 6.24rem;
                font-size: 1.4rem;
                line-height: 1.4285714286;
                box-sizing: border-box;
                height: 6.24rem;
                left: 0;
                padding: 2.12rem 2.4rem 2.12rem 2.4rem;
                font-weight: 400;
                position: absolute;
                font-family: Inter, 'Source Sans Pro';
                border: solid 0.1rem #eaecf0;
                width: 68.8rem;
                color: #667084;
                white-space: nowrap;
              }
            }
          }
        }
        .row-wjC {
          margin-bottom: 2rem;
          width: 69.4rem;
          flex-shrink: 0;

          .auto-group-qv3y-t8e {
            margin-bottom: 0rem;
            width: 100%;
            height: 18.72rem;
            position: relative;

            .table-cell-EiJ {
              display: flex;
              align-items: center;
              height: 6.24rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #f8f9fb;
              box-sizing: border-box;
              padding: 1.12rem 0rem 1.12rem 2.4rem;
              width: 69.4rem;
              border: solid 0.1rem #eaecf0;

              .featured-icon-Kze {
                object-fit: contain;
                vertical-align: top;
                border-radius: 2rem;
                flex-shrink: 0;
                margin-right: 1.2rem;
                width: 4rem;
                height: 4rem;
              }
              .text-FtJ {
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.4285714286;
                color: #101728;
              }
            }
            .table-cell-ava {
              width: 68.8rem;
              color: #667084;
              background-color: #f8f9fb;
              font-family: Inter, 'Source Sans Pro';
              height: 6.24rem;
              left: 0;
              font-weight: 400;
              position: absolute;
              top: 6.24rem;
              line-height: 1.4285714286;
              white-space: nowrap;
              border: solid 0.1rem #eaecf0;
              box-sizing: border-box;
              padding: 2.12rem 2.4rem 2.12rem 2.4rem;
              font-size: 1.4rem;
            }
            .table-cell-EkE {
              white-space: nowrap;
              width: 68.8rem;
              height: 6.24rem;
              line-height: 1.4285714286;
              font-family: Inter, 'Source Sans Pro';
              background-color: #f8f9fb;
              position: absolute;
              left: 0;
              top: 12.48rem;
              font-size: 1.4rem;
              box-sizing: border-box;
              padding: 2.12rem 2.4rem 2.12rem 2.4rem;
              font-weight: 400;
              color: #667084;
              border: solid 0.1rem #eaecf0;
            }
          }
          .auto-group-5p8v-i9c {
            width: 68.8rem;
            height: 12.48rem;
            position: relative;

            .table-cell-s2W {
              padding: 2.12rem 2.4rem 2.12rem 2.4rem;
              left: 0;
              top: 0;
              color: #667084;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              background-color: #f8f9fb;
              box-sizing: border-box;
              width: 68.8rem;
              height: 6.24rem;
              font-size: 1.4rem;
              border: solid 0.1rem #eaecf0;
              position: absolute;
              font-weight: 400;
              line-height: 1.4285714286;
            }
            .table-cell-swc {
              left: 0;
              top: 6.24rem;
              white-space: nowrap;
              width: 68.8rem;
              height: 6.24rem;
              position: absolute;
              font-weight: 400;
              color: #667084;
              font-family: Inter, 'Source Sans Pro';
              box-sizing: border-box;
              font-size: 1.4rem;
              padding: 2.12rem 2.4rem 2.12rem 2.4rem;
              line-height: 1.4285714286;
              border: solid 0.1rem #eaecf0;
              background-color: #f8f9fb;
            }
          }
        }
        .row-kkW {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 2rem;
          width: 68.8rem;
          row-gap: 0rem;
          align-items: center;
          display: flex;

          .table-cell-5nn {
            align-items: center;
            border: solid 0.1rem #eaecf0;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.12rem 2.7rem 1.12rem 2.4rem;
            width: 100%;
            display: flex;

            .featured-icon-E9t {
              vertical-align: top;
              border-radius: 2rem;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
            }
            .text-sTk {
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 58.5rem;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.4285714286;
              color: #101728;
            }
          }
          .auto-group-rdgr-CF8 {
            width: 100%;
            height: 12.48rem;
            position: relative;
            flex-shrink: 0;

            .table-cell-Z5g {
              width: 68.8rem;
              position: absolute;
              color: #667084;
              border: solid 0.1rem #eaecf0;
              height: 6.24rem;
              left: 0;
              font-size: 1.4rem;
              font-family: Inter, 'Source Sans Pro';
              line-height: 1.4285714286;
              white-space: nowrap;
              box-sizing: border-box;
              padding: 2.12rem 2.4rem;
              top: 0;
              font-weight: 400;
            }
            .table-cell-CeS {
              position: absolute;
              line-height: 1.4285714286;
              font-family: Inter, 'Source Sans Pro';
              height: 6.24rem;
              font-weight: 400;
              color: #667084;
              width: 68.8rem;
              top: 6.24rem;
              border: solid 0.1rem #eaecf0;
              left: 0;
              padding: 2.12rem 2.4rem 2.12rem 2.4rem;
              font-size: 1.4rem;
              white-space: nowrap;
              box-sizing: border-box;
            }
          }
          .auto-group-wac6-G8W {
            width: 100%;
            height: 12.48rem;
            position: relative;
            flex-shrink: 0;

            .table-cell-QEi {
              position: absolute;
              height: 6.24rem;
              left: 0;
              font-weight: 400;
              white-space: nowrap;
              padding: 2.12rem 2.4rem 2.12rem 2.4rem;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.4rem;
              width: 68.8rem;
              top: 0;
              line-height: 1.4285714286;
              color: #667084;
              border: solid 0.1rem #eaecf0;
              box-sizing: border-box;
            }
            .table-cell-r6i {
              line-height: 1.4285714286;
              top: 6.24rem;
              white-space: nowrap;
              border: solid 0.1rem #eaecf0;
              box-sizing: border-box;
              padding: 2.12rem 2.4rem 2.12rem 2.4rem;
              width: 68.8rem;
              color: #667084;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              height: 6.24rem;
              position: absolute;
              left: 0;
              font-size: 1.4rem;
            }
          }
        }
        .row-vcN {
          flex-shrink: 0;
          width: 68.9rem;

          .auto-group-mman-VQa {
            margin-bottom: 0rem;
            width: 100%;
            height: 18.72rem;
            position: relative;

            .table-cell-CZt {
              height: 6.24rem;
              left: 0;
              align-items: center;
              box-sizing: border-box;
              padding: 1.12rem 0rem 1.12rem 2.4rem;
              width: 68.9rem;
              position: absolute;
              top: 0;
              display: flex;
              border: solid 0.1rem #eaecf0;
              background-color: #f8f9fb;

              .featured-icon-Jsp {
                flex-shrink: 0;
                margin-right: 1.2rem;
                width: 4rem;
                height: 4rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 2rem;
              }
              .text-2op {
                line-height: 1.4285714286;
                color: #101728;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 500;
              }
            }
            .table-cell-kE2 {
              box-sizing: border-box;
              padding: 2.12rem 2.4rem 2.12rem 2.4rem;
              width: 68.8rem;
              position: absolute;
              font-size: 1.4rem;
              line-height: 1.4285714286;
              background-color: #f8f9fb;
              left: 0;
              font-weight: 400;
              white-space: nowrap;
              top: 6.24rem;
              font-family: Inter, 'Source Sans Pro';
              height: 6.24rem;
              color: #667084;
              border: solid 0.1rem #eaecf0;
            }
            .table-cell-pza {
              box-sizing: border-box;
              font-size: 1.4rem;
              border: solid 0.1rem #eaecf0;
              line-height: 1.4285714286;
              font-family: Inter, 'Source Sans Pro';
              width: 68.8rem;
              height: 6.24rem;
              position: absolute;
              top: 12.48rem;
              font-weight: 400;
              color: #667084;
              white-space: nowrap;
              padding: 2.12rem 2.4rem 2.12rem 2.4rem;
              left: 0;
              background-color: #f8f9fb;
            }
          }
          .auto-group-w3jw-tDk {
            height: 12.48rem;
            position: relative;
            width: 68.8rem;

            .table-cell-qen {
              top: 0;
              font-size: 1.4rem;
              font-family: Inter, 'Source Sans Pro';
              position: absolute;
              font-weight: 400;
              white-space: nowrap;
              background-color: #f8f9fb;
              left: 0;
              padding: 2.12rem 2.4rem 2.12rem 2.4rem;
              line-height: 1.4285714286;
              color: #667084;
              border: solid 0.1rem #eaecf0;
              box-sizing: border-box;
              height: 6.24rem;
              width: 68.8rem;
            }
            .table-cell-XXc {
              color: #667084;
              box-sizing: border-box;
              padding: 2.12rem 2.4rem 2.12rem 2.4rem;
              width: 68.8rem;
              font-weight: 400;
              border: solid 0.1rem #eaecf0;
              height: 6.24rem;
              position: absolute;
              left: 0;
              top: 6.24rem;
              background-color: #f8f9fb;
              font-size: 1.4rem;
              line-height: 1.4285714286;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
  .footer-sE6 {
    padding: 2.4rem 4.5rem 2.6rem 5rem;
    width: 100%;
    height: 15.8rem;
    display: flex;
    align-items: center;
    background-color: #f6f9fa;
    flex-shrink: 0;
    box-sizing: border-box;

    .um-inc-oNe {
      margin-right: 5.6rem;
      display: flex;
      font-size: 1.4rem;
      color: #141221;
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1.4285714286;
      font-family: Commissioner, 'Source Sans Pro';
    }
    .list-6Mk {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 48.9rem;
      height: 100%;
      align-items: center;

      .items-3nn {
        flex-shrink: 0;
        margin-bottom: 4rem;
        width: 100%;
        display: flex;
        align-items: center;

        .item-link--kSJ {
          font-weight: 400;
          color: #141221;
          font-family: Commissioner, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 2.5rem;
          display: flex;
          font-size: 1.4rem;
          line-height: 1.4285714286;
          flex-shrink: 0;
        }
        .item-link-cookie-eGn {
          font-family: Commissioner, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4rem;
          display: flex;
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.4285714286;
          color: #141221;
        }
        .item-link--NTg {
          font-family: Commissioner, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.1rem;
          font-weight: 400;
          line-height: 1.4285714286;
          color: #141221;
          display: flex;
          font-size: 1.4rem;
        }
        .link--GJA {
          display: flex;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          color: #141221;
          font-family: Commissioner, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .divfootermain-info-soc-AeS {
        margin: 0rem 10.607rem 0rem 8.793rem;
        width: calc(100% - 19.4rem);
        height: 4.8rem;
        align-items: center;
        box-sizing: border-box;
        padding: 0.7rem 0rem 0.9rem 0rem;
        display: flex;
        background-color: #f6f9fa;
        border-radius: 1.6rem;
        flex-shrink: 0;

        .item--4jp {
          white-space: nowrap;
          margin: 0.2rem 0.6rem 0rem 0rem;
          display: flex;
          font-weight: 400;
          line-height: 1.5;
          flex-shrink: 0;
          text-align: right;
          font-size: 1.6rem;
          color: #141221;
          font-family: Commissioner, 'Source Sans Pro';
        }
        .list-ksY {
          height: 100%;
          display: flex;
          column-gap: 1.2rem;
          align-items: center;
          flex-shrink: 0;

          .item-margin-i3g {
            width: 3.2rem;
            height: 3.2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-margin-3bk {
            height: 3.2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.2rem;
          }
          .item-margin-Ntv {
            width: 3.2rem;
            height: 3.2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-LKx {
            width: 3.2rem;
            height: 3.2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
