
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 76.8rem;
}.item--TYi {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: #ffffff;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;

  .headercontent-mobile-AT8 {
    width: calc(100% - 3.2rem);
    height: 5.6rem;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 1.6rem 9.4rem 1.6rem;

    .frame-4-5a6 {
      align-items: center;
      width: 100%;
      height: 100%;
      display: flex;

      .item-2-318 {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 53rem;
        width: 15rem;
        height: 4.6rem;
        object-fit: cover;
      }
      .icn-burger-jPk {
        flex-shrink: 0;
        width: 5.6rem;
        height: 5.6rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .main-g46 {
    margin: 0rem 5.9rem 6rem 6rem;
    width: calc(100% - 11.9rem);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .image-PUJ {
      margin-bottom: 4rem;
      width: 64.8rem;
      height: 50rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0.8rem;
      flex-shrink: 0;
    }
    .content-iWa {
      flex-direction: column;
      flex-shrink: 0;
      width: 100%;
      display: flex;

      .heading-and-text-suG {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 2.4rem;
        width: 100%;

        .author-1En {
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          font-size: 1.4rem;
          font-weight: 600;
          line-height: 1.4285714286;
          color: #6840c6;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .heading-2fg {
          line-height: 1.3333333333;
          color: #101728;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.2rem;
          max-width: 63.4rem;
          font-size: 2.4rem;
          font-weight: 600;
        }
        .supporting-text-Zfc {
          margin-bottom: 2.8rem;
          max-width: 64.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #667084;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .date-uDg {
          font-size: 1.4rem;
          font-weight: 600;
          line-height: 1.4285714286;
          color: #3b5998;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .btn-primary-F2e {
        position: relative;
        background-color: #8378d5;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 31.5rem;
        height: 5.4rem;

        .item--PuY {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 2rem;
          position: absolute;
          left: 4.5rem;
          font-weight: 600;
          width: 23.5rem;
          top: 1.7rem;
          font-size: 1.4rem;
          line-height: 1.4285714286;
        }
        .icon-fMG {
          position: absolute;
          left: 26rem;
          top: 2.2rem;
          object-fit: contain;
          vertical-align: top;
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
  .footer-y74 {
    box-sizing: border-box;
    padding: 2.4rem 4.5rem 2.6rem 5rem;
    width: 100%;
    height: 15.8rem;
    display: flex;
    align-items: center;
    background-color: #f6f9fa;
    flex-shrink: 0;

    .um-inc-6hU {
      color: #141221;
      margin-right: 5.6rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.4285714286;
      display: flex;
      font-family: Commissioner, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .list-p7g {
      width: 48.9rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .items-a6r {
        flex-shrink: 0;
        margin-bottom: 4rem;
        width: 100%;
        display: flex;
        align-items: center;

        .item-link--XXt {
          display: flex;
          font-weight: 400;
          color: #141221;
          font-family: Commissioner, 'Source Sans Pro';
          margin-right: 2.5rem;
          font-size: 1.4rem;
          line-height: 1.4285714286;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item-link-cookie-1xr {
          font-size: 1.4rem;
          color: #141221;
          white-space: nowrap;
          font-family: Commissioner, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 4rem;
          display: flex;
          font-weight: 400;
          line-height: 1.4285714286;
        }
        .item-link--81t {
          display: flex;
          color: #141221;
          font-family: Commissioner, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 2.1rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          flex-shrink: 0;
        }
        .link--qBC {
          font-weight: 400;
          line-height: 1.4285714286;
          color: #141221;
          font-family: Commissioner, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.4rem;
        }
      }
      .divfootermain-info-soc-jXU {
        margin: 0rem 10.607rem 0rem 8.793rem;
        box-sizing: border-box;
        width: calc(100% - 19.4rem);
        height: 4.8rem;
        padding: 0.7rem 0rem 0.9rem 0rem;
        display: flex;
        align-items: center;
        background-color: #f6f9fa;
        border-radius: 1.6rem;
        flex-shrink: 0;

        .item--SAz {
          display: flex;
          font-size: 1.6rem;
          font-family: Commissioner, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.2rem 0.6rem 0rem 0rem;
          font-weight: 400;
          line-height: 1.5;
          color: #141221;
          text-align: right;
        }
        .list-Jiz {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .item-margin-4iA {
            flex-shrink: 0;
            margin-right: 1.2rem;
            width: 3.2rem;
            height: 3.2rem;
            object-fit: contain;
            vertical-align: top;
          }
          .item-margin-Zev {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2rem;
            width: 3.2rem;
            height: 3.2rem;
            object-fit: contain;
          }
          .item-margin-7RY {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.2rem;
            width: 3.2rem;
            height: 3.2rem;
            object-fit: contain;
          }
          .item-Fne {
            width: 3.2rem;
            height: 3.2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
