
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
input {
	border: none;
}
body {
  width: 144rem;
}.item--Pnv {
  box-sizing: border-box;
  padding-top: 3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--Pnv .headercontent-desktop-gX8 {
  margin: 0rem 5.7rem 8.4rem 5rem;
  width: calc(100% - 10.7rem);
  height: 4.6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--Pnv .headercontent-desktop-gX8 .item-2-Ner {
  margin-right: 8.2rem;
  width: 15rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Pnv .headercontent-desktop-gX8 .frame-1-srW {
  margin: 0.85rem 0rem 1.25rem 0rem;
  height: calc(100% - 2.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--Pnv .headercontent-desktop-gX8 .frame-1-srW a{
  text-decoration: none;
  margin-right: 2.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Pnv .main-wQS {
  margin: 0rem 5.9rem 6rem 6rem;
  width: calc(100% - 11.9rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Pnv .main-wQS .image-t4n {
  margin-bottom: 4rem;
  width: 132rem;
  height: 50rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.item--Pnv .main-wQS .content-Dsk {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Pnv .main-wQS .content-Dsk .heading-and-text-Myx {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--Pnv .main-wQS .content-Dsk .heading-and-text-Myx .author-iJi {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  color: #6840c6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Pnv .main-wQS .content-Dsk .heading-and-text-Myx .heading-3rn {
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #101728;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Pnv .main-wQS .content-Dsk .heading-and-text-Myx .supporting-text-CDt {
  margin-bottom: 2rem;
  max-width: 132.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #667084;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--Pnv .main-wQS .content-Dsk .heading-and-text-Myx ul {
  margin-left: 25px;
  margin-bottom: 12px;
}
.item--Pnv .main-wQS .content-Dsk .heading-and-text-Myx ul li {
  max-width: 132.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #667084;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--Pnv .main-wQS .content-Dsk .heading-and-text-Myx .date-XX4 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  color: #3b5998;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Pnv .main-wQS .content-Dsk .btn-primary-ftA {
  width: 31.5rem;
  height: 5.4rem;
  position: relative;
  background-color: #8378d5;
  border-radius: 1rem;
  flex-shrink: 0;
  border: #8378d5;
}
.item--Pnv .main-wQS .content-Dsk .btn-primary-ftA .item--2Tp {
  width: 23.5rem;
  height: 2rem;
  position: absolute;
  left: 2.5rem;
  top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--Pnv .main-wQS .content-Dsk .btn-primary-ftA .icon-FrN {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 26rem;
  top: 2.1rem;
  object-fit: contain;
  vertical-align: top;
}
.item--Pnv .footer-n5c {
  box-sizing: border-box;
  padding: 2.4rem 22.507rem 2.6rem 22.507rem;
  width: 100%;
  height: 9.8rem;
  display: flex;
  align-items: center;
  background-color: #f6f9fa;
  flex-shrink: 0;
}
.item--Pnv .footer-n5c .um-inc-HYA {
  margin-right: 5.6rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Pnv .footer-n5c .list-YDC {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--Pnv .footer-n5c .list-YDC .items-JTG {
  margin: 1.4rem 2.185rem 1.4rem 0rem;
  height: calc(100% - 2.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--Pnv .footer-n5c .list-YDC .items-JTG a {
  text-decoration: none;
  margin-right: 2.5rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Pnv .footer-n5c .list-YDC .divfootermain-info-soc-T7C {
  box-sizing: border-box;
  padding: 0.7rem 0rem 0.9rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f6f9fa;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--Pnv .footer-n5c .list-YDC .divfootermain-info-soc-T7C .item--axW {
  margin: 0.2rem 0.6rem 0rem 0rem;
  text-align: right;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--Pnv .footer-n5c .list-YDC .divfootermain-info-soc-T7C .list-sgi {
  height: 100%;
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
  flex-shrink: 0;
}
.item--Pnv .footer-n5c .list-YDC .divfootermain-info-soc-T7C .list-sgi .item-margin-Qge {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Pnv .footer-n5c .list-YDC .divfootermain-info-soc-T7C .list-sgi .item-margin-vQ6 {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Pnv .footer-n5c .list-YDC .divfootermain-info-soc-T7C .list-sgi .item-margin-sq8 {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--Pnv .footer-n5c .list-YDC .divfootermain-info-soc-T7C .list-sgi .item-qGA {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
