
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 76.8rem;
}.item--TYi {
  box-sizing: border-box;
  padding-top: 1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--TYi .headercontent-mobile-AT8 {
  margin: 0rem 1.6rem 9.4rem 1.6rem;
  width: calc(100% - 3.2rem);
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.item--TYi .headercontent-mobile-AT8 .frame-4-5a6 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--TYi .headercontent-mobile-AT8 .frame-4-5a6 .item-2-318 {
  margin-right: 53rem;
  width: 15rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--TYi .headercontent-mobile-AT8 .frame-4-5a6 .icn-burger-jPk {
  width: 5.6rem;
  height: 5.6rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--TYi .main-g46 {
  margin: 0rem 5.9rem 6rem 6rem;
  width: calc(100% - 11.9rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--TYi .main-g46 .image-PUJ {
  margin-bottom: 4rem;
  width: 64.8rem;
  height: 50rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.item--TYi .main-g46 .content-iWa {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--TYi .main-g46 .content-iWa .heading-and-text-suG {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--TYi .main-g46 .content-iWa .heading-and-text-suG .author-1En {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  color: #6840c6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--TYi .main-g46 .content-iWa .heading-and-text-suG .heading-2fg {
  margin-bottom: 1.2rem;
  max-width: 63.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #101728;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--TYi .main-g46 .content-iWa .heading-and-text-suG .supporting-text-Zfc {
  margin-bottom: 2.8rem;
  max-width: 64.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #667084;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--TYi .main-g46 .content-iWa .heading-and-text-suG .date-uDg {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  color: #3b5998;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--TYi .main-g46 .content-iWa .btn-primary-F2e {
  width: 31.5rem;
  height: 5.4rem;
  position: relative;
  background-color: #8378d5;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--TYi .main-g46 .content-iWa .btn-primary-F2e .item--PuY {
  width: 23.5rem;
  height: 2rem;
  position: absolute;
  left: 4.5rem;
  top: 1.7rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--TYi .main-g46 .content-iWa .btn-primary-F2e .icon-fMG {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 26rem;
  top: 2.2rem;
  object-fit: contain;
  vertical-align: top;
}
.item--TYi .footer-y74 {
  box-sizing: border-box;
  padding: 2.4rem 4.5rem 2.6rem 5rem;
  width: 100%;
  height: 15.8rem;
  display: flex;
  align-items: center;
  background-color: #f6f9fa;
  flex-shrink: 0;
}
.item--TYi .footer-y74 .um-inc-6hU {
  margin-right: 5.6rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--TYi .footer-y74 .list-p7g {
  width: 48.9rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--TYi .footer-y74 .list-p7g .items-a6r {
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--TYi .footer-y74 .list-p7g .items-a6r .item-link--XXt {
  margin-right: 2.5rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--TYi .footer-y74 .list-p7g .items-a6r .item-link-cookie-1xr {
  margin-right: 4rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--TYi .footer-y74 .list-p7g .items-a6r .item-link--81t {
  margin-right: 2.1rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--TYi .footer-y74 .list-p7g .items-a6r .link--qBC {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--TYi .footer-y74 .list-p7g .divfootermain-info-soc-jXU {
  margin: 0rem 10.607rem 0rem 8.793rem;
  box-sizing: border-box;
  padding: 0.7rem 0rem 0.9rem 0rem;
  width: calc(100% - 19.4rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
  background-color: #f6f9fa;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--TYi .footer-y74 .list-p7g .divfootermain-info-soc-jXU .item--SAz {
  margin: 0.2rem 0.6rem 0rem 0rem;
  text-align: right;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--TYi .footer-y74 .list-p7g .divfootermain-info-soc-jXU .list-Jiz {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--TYi .footer-y74 .list-p7g .divfootermain-info-soc-jXU .list-Jiz .item-margin-4iA {
  margin-right: 1.2rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--TYi .footer-y74 .list-p7g .divfootermain-info-soc-jXU .list-Jiz .item-margin-Zev {
  margin-right: 1.2rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--TYi .footer-y74 .list-p7g .divfootermain-info-soc-jXU .list-Jiz .item-margin-7RY {
  margin-right: 1.2rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--TYi .footer-y74 .list-p7g .divfootermain-info-soc-jXU .list-Jiz .item-Fne {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
