
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--mZg {
  box-sizing: border-box;
  padding-top: 1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--mZg .headercontent-mobile-JJi {
  margin: 0rem 1.6rem 1rem 1.6rem;
  width: calc(100% - 3.2rem);
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.item--mZg .headercontent-mobile-JJi .frame-4-Pqx {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--mZg .headercontent-mobile-JJi .frame-4-Pqx .item-2-A62 {
  margin-right: 15.2rem;
  width: 15rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--mZg .headercontent-mobile-JJi .frame-4-Pqx .icn-burger-V8J {
  width: 5.6rem;
  height: 5.6rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ {
  box-sizing: border-box;
  padding-top: 4.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .main-avS {
  margin: 0rem 3.4rem 2rem 2rem;
  width: calc(100% - 5.4rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .main-avS .image-iFx {
  margin-bottom: 4rem;
  width: 33.5rem;
  height: 50rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .main-avS .content-Sxe {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .main-avS .content-Sxe .heading-and-text-BvE {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .main-avS .content-Sxe .heading-and-text-BvE ul {
  margin-left: 25px;
  margin-bottom: 12px;
}
.item--mZg .auto-group-tsfl-dkJ .main-avS .content-Sxe .heading-and-text-BvE ul li {
  max-width: 132.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #667084;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .main-avS .content-Sxe .heading-and-text-BvE .author-96N {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  color: #6840c6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .main-avS .content-Sxe .heading-and-text-BvE .heading-5Ev {
  margin-bottom: 1.2rem;
  max-width: 32.9rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #101728;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .main-avS .content-Sxe .heading-and-text-BvE .supporting-text-pCW {
  margin-bottom: 2rem;
  max-width: 33.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #667084;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .main-avS .content-Sxe .heading-and-text-BvE .date-YeJ {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  color: #3b5998;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .main-avS .content-Sxe .btn-primary-3LA {
  width: 31.5rem;
  height: 5.4rem;
  position: relative;
  background-color: #8378d5;
  border-radius: 1rem;
  flex-shrink: 0;
  border: #8378d5;
}
.item--mZg .auto-group-tsfl-dkJ .main-avS .content-Sxe .btn-primary-3LA .item--o4S {
  width: 23.5rem;
  height: 2rem;
  position: absolute;
  left: 2.5rem;
  top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--mZg .auto-group-tsfl-dkJ .main-avS .content-Sxe .btn-primary-3LA .icon-Gii {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 26rem;
  top: 2.2rem;
  object-fit: contain;
  vertical-align: top;
}
.item--mZg .auto-group-tsfl-dkJ .footer-zuc {
  margin-right: 1.5rem;
  box-sizing: border-box;
  padding: 2.4rem 4.657rem 2.6rem 3.343rem;
  width: 37.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f6f9fa;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .footer-zuc .um-inc-JQW {
  margin: 0rem 0rem 6rem 1.715rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .footer-zuc .list-Pgr {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .footer-zuc .list-Pgr .auto-group-d9s4-WWa {
  box-sizing: border-box;
  padding: 0rem 4.643rem 4rem 7.857rem;
  width: 100%;
  row-gap: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .footer-zuc .list-Pgr .auto-group-d9s4-WWa a {
  text-decoration: none;
  margin-right: 0.4rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .footer-zuc .list-Pgr .divfootermain-info-soc-t9k {
  box-sizing: border-box;
  padding: 0.7rem 0rem 0.9rem 0rem;
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  background-color: #f6f9fa;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .footer-zuc .list-Pgr .divfootermain-info-soc-t9k .item--ygz {
  margin: 0.2rem 0.6rem 0rem 0rem;
  text-align: right;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .footer-zuc .list-Pgr .divfootermain-info-soc-t9k .list-dWe {
  height: 100%;
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .footer-zuc .list-Pgr .divfootermain-info-soc-t9k .list-dWe .item-margin-yqQ {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .footer-zuc .list-Pgr .divfootermain-info-soc-t9k .list-dWe .item-margin-8iJ {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .footer-zuc .list-Pgr .divfootermain-info-soc-t9k .list-dWe .item-margin-Hr6 {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--mZg .auto-group-tsfl-dkJ .footer-zuc .list-Pgr .divfootermain-info-soc-t9k .list-dWe .item-2og {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
