
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 39rem;
}.item--NiS {
  box-sizing: border-box;
  padding-top: 1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--NiS .headercontent-mobile-TUz {
  margin: 0rem 1.6rem 1rem 1.6rem;
  width: calc(100% - 3.2rem);
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.item--NiS .headercontent-mobile-TUz .frame-4-kiz {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--NiS .headercontent-mobile-TUz .frame-4-kiz .item-2-7Je {
  margin-right: 15.2rem;
  width: 15rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--NiS .headercontent-mobile-TUz .frame-4-kiz .icn-burger-cmC {
  width: 5.6rem;
  height: 5.6rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min {
  box-sizing: border-box;
  padding-top: 7.2rem;
  width: 100%;
  row-gap: 4.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .heading-and-supporting-text-hGr {
  margin: 0rem 3rem 0rem 1.6rem;
  width: calc(100% - 4.6rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .heading-and-supporting-text-hGr .heading-oan {
  margin-bottom: 1.6rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2222222222;
  letter-spacing: -0.072rem;
  color: #101728;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .heading-and-supporting-text-hGr .supporting-text-WEJ {
  max-width: 34.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #667084;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa {
  margin: 0rem 3.05rem 0rem 1.55rem;
  width: calc(100% - 4.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .number-and-text-tke {
  margin: 0rem 0.05rem 3.2rem 0.05rem;
  width: calc(100% - 0.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .number-and-text-tke .number-Qiz {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.096rem;
  color: #6c5fc5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .number-and-text-tke .text-and-supporting-text-L6r {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .number-and-text-tke .text-and-supporting-text-L6r .text-SQn {
  margin-bottom: 0.8rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #101728;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .number-and-text-tke .text-and-supporting-text-L6r .supporting-text-aG6 {
  max-width: 34.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #667084;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .number-and-text-ga2 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .number-and-text-ga2 .number-rDc {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.096rem;
  color: #6c5fc5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .number-and-text-ga2 .text-and-supporting-text-XqY {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .number-and-text-ga2 .text-and-supporting-text-XqY .text-tvz {
  margin-bottom: 0.8rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #101728;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .number-and-text-ga2 .text-and-supporting-text-XqY .supporting-text-qLS {
  max-width: 34.4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #667084;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .auto-group-vbxa-a38 {
  box-sizing: border-box;
  padding: 3.2rem 0.4rem 0rem 0.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .auto-group-vbxa-a38 .number-and-text-ubC {
  margin: 0rem 0.05rem 3.2rem 0.05rem;
  width: calc(100% - 0.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .auto-group-vbxa-a38 .number-and-text-ubC .number-qze {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.096rem;
  color: #6c5fc5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .auto-group-vbxa-a38 .number-and-text-ubC .text-and-supporting-text-Nza {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .auto-group-vbxa-a38 .number-and-text-ubC .text-and-supporting-text-Nza .text-JNS {
  margin-bottom: 0.8rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #101728;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .auto-group-vbxa-a38 .number-and-text-ubC .text-and-supporting-text-Nza .supporting-text-2Bx {
  max-width: 33.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #667084;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .auto-group-vbxa-a38 .number-and-text-XuQ {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .auto-group-vbxa-a38 .number-and-text-XuQ .number-tjx {
  margin-bottom: 1.2rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.096rem;
  color: #6c5fc5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .auto-group-vbxa-a38 .number-and-text-XuQ .text-and-supporting-text-RUz {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .auto-group-vbxa-a38 .number-and-text-XuQ .text-and-supporting-text-RUz .text-N9L {
  margin-bottom: 0.8rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5555555556;
  color: #101728;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .content-qGa .auto-group-vbxa-a38 .number-and-text-XuQ .text-and-supporting-text-RUz .supporting-text-uf4 {
  max-width: 33.6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #667084;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .image-2Dt {
  margin-right: 1.5rem;
  width: 34.3rem;
  height: 24rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C {
  margin-right: 1.5rem;
  width: 37.5rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #f8fafc;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .bg-VdG {
  margin-bottom: 3.9991rem;
  width: 100%;
  height: 67.6rem;
  position: relative;
  background-color: #6c5fc5;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .bg-VdG .mask-group-DZG {
  width: 37.5rem;
  height: 67.6rem;
  position: absolute;
  left: 0;
  top: 0rem;
  object-fit: contain;
  vertical-align: top;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .bg-VdG .text-content-Y5k {
  width: 33.3rem;
  height: 55.5991rem;
  position: absolute;
  left: 2rem;
  top: 6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .bg-VdG .text-content-Y5k .title-2Wi {
  margin: 0rem 0rem 6.8rem 0rem;
  width: calc(100% - 0rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .bg-VdG .text-content-Y5k .title-2Wi .item--9bL {
  margin-bottom: 7.1rem;
  max-width: 32.7rem;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.3846153846;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .bg-VdG .text-content-Y5k .title-2Wi .item--cUv {
  max-width: 33.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #cbd5e1;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .bg-VdG .text-content-Y5k .quote-opJ {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .bg-VdG .text-content-Y5k .quote-opJ .review-mm8 {
  margin-bottom: 2.3001rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .bg-VdG .text-content-Y5k .quote-opJ .review-mm8 .star-1-vP8 {
  margin-right: 0.7rem;
  width: 2.0725rem;
  height: 2.1998rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .bg-VdG .text-content-Y5k .quote-opJ .review-mm8 .star-2-4kE {
  margin-right: 0.7rem;
  width: 2.0725rem;
  height: 2.1998rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .bg-VdG .text-content-Y5k .quote-opJ .review-mm8 .star-3-NF8 {
  margin-right: 0.7rem;
  width: 2.0725rem;
  height: 2.1998rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .bg-VdG .text-content-Y5k .quote-opJ .review-mm8 .star-4-X82 {
  margin-right: 0.7rem;
  width: 2.0725rem;
  height: 2.1998rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .bg-VdG .text-content-Y5k .quote-opJ .review-mm8 .star-5-UZ4 {
  width: 2.0725rem;
  height: 2.1998rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .bg-VdG .text-content-Y5k .quote-opJ .item--obL {
  margin: 0rem 0rem 4.5rem 0rem;
  max-width: 33.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .bg-VdG .text-content-Y5k .quote-opJ .user-eVU {
  margin: 0rem 19.351rem 0rem 0rem;
  width: calc(100% - 19.3509rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .bg-VdG .text-content-Y5k .quote-opJ .user-eVU .bg-Phx {
  margin-right: 1.3rem;
  width: 4.0491rem;
  height: 4.499rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 15.847rem;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .bg-VdG .text-content-Y5k .quote-opJ .user-eVU .item--WGn {
  margin-bottom: 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst {
  margin-right: 0.4rem;
  width: 35.1rem;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .title-VuQ {
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .title-VuQ .u-pgn {
  margin-bottom: 1rem;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.3846153846;
  color: #080814;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .title-VuQ .item--Ycn {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #52525b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .input-Dyp {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .input-Dyp .auto-group-owu2-b5G {
  box-sizing: border-box;
  padding-bottom: 3rem;
  width: 100%;
  row-gap: 3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .input-Dyp .auto-group-owu2-b5G .email-vtE {
  width: 33.5rem;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .input-Dyp .auto-group-owu2-b5G .email-vtE .item--VgS {
  margin-bottom: 1.1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #080814;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .input-Dyp .auto-group-owu2-b5G .email-vtE .bg-Cqk {
  width: 100%;
  height: 6rem;
  border: solid 0.1rem #cbd5e1;
  box-sizing: border-box;
  background-color: #f8fafc;
  border-radius: 1.2rem;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .input-Dyp .auto-group-owu2-b5G .email-r9c {
  width: 33.5rem;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .input-Dyp .auto-group-owu2-b5G .email-r9c .item--p6S {
  margin-bottom: 1.2rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #080814;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .input-Dyp .auto-group-owu2-b5G .email-r9c .bg-Kot {
  width: 100%;
  height: 6rem;
  border: solid 0.1rem #cbd5e1;
  box-sizing: border-box;
  background-color: #f8fafc;
  border-radius: 1.2rem;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .input-Dyp .auto-group-owu2-b5G .password-URt {
  width: 33.5rem;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .input-Dyp .auto-group-owu2-b5G .password-URt .item--bWW {
  margin-bottom: 1.2rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #080814;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .input-Dyp .auto-group-owu2-b5G .password-URt .bg-j6v {
  width: 100%;
  height: 6rem;
  border: solid 0.1rem #cbd5e1;
  box-sizing: border-box;
  background-color: #f8fafc;
  border-radius: 1.2rem;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .input-Dyp .text-sU2 {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .input-Dyp .text-sU2 .check-DXt {
  margin-right: 5.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .input-Dyp .text-sU2 .check-DXt .shape-n5C {
  margin-right: 0.8rem;
  width: 2rem;
  height: 2rem;
  border: solid 0.1rem #94a3b8;
  box-sizing: border-box;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .input-Dyp .text-sU2 .check-DXt .item--u9p {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  color: #18181b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .input-Dyp .text-sU2 .item--cK8 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  color: #6c5fc5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .auto-group-msae-uZ8 {
  box-sizing: border-box;
  padding-top: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .auto-group-msae-uZ8 .btn-primary-rjG {
  margin-bottom: 3.2rem;
  width: 33.5rem;
  height: 6.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8378d5;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .auto-group-msae-uZ8 .button-primary-with-icon-Yrz {
  margin-bottom: 3.2rem;
  box-sizing: border-box;
  padding: 2rem 8.53rem 2rem 8.53rem;
  width: 33.5rem;
  height: 6.3214rem;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .auto-group-msae-uZ8 .button-primary-with-icon-Yrz .frame-1-ddY {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .auto-group-msae-uZ8 .button-primary-with-icon-Yrz .frame-1-ddY .google-2-CRk {
  margin-right: 0.9rem;
  width: 2.4393rem;
  height: 2.3214rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .auto-group-msae-uZ8 .button-primary-with-icon-Yrz .frame-1-ddY .auto-group-aajr-LXx {
  margin: 0.161rem 0rem 0.161rem 0rem;
  width: 13.1rem;
  height: calc(100% - 0.3214rem);
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  color: #1e293b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .auto-group-msae-uZ8 .item--cEa {
  max-width: 32.7rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  color: #64748b;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .auto-group-msae-uZ8 .item--cEa .item--cEa-sub-0 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  color: #64748b;
  font-family: Inter, 'Source Sans Pro';
}
.item--NiS .auto-group-bcqk-Min .item-3-A5C .input-content-wst .auto-group-msae-uZ8 .item--cEa .item--cEa-sub-1 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4285714286;
  color: #6c5fc5;
  font-family: Inter, 'Source Sans Pro';
}
.item--NiS .auto-group-bcqk-Min .footer-1pS {
  margin-right: 1.5rem;
  box-sizing: border-box;
  padding: 2.4rem 4.657rem 2.6rem 3.343rem;
  width: 37.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f6f9fa;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .footer-1pS .um-inc-k1L {
  margin: 0rem 0rem 6rem 1.715rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .footer-1pS .list-dL2 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .footer-1pS .list-dL2 .auto-group-k56n-Aar {
  box-sizing: border-box;
  padding: 0rem 4.643rem 4rem 7.857rem;
  width: 100%;
  row-gap: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .footer-1pS .list-dL2 .auto-group-k56n-Aar .item-link--gp6 {
  margin-right: 0.4rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .footer-1pS .list-dL2 .auto-group-k56n-Aar .item-link-cookie-aea {
  margin-right: 1.9rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .footer-1pS .list-dL2 .auto-group-k56n-Aar .item-link--78i {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .footer-1pS .list-dL2 .auto-group-k56n-Aar .link--Prv {
  margin-right: 1.4rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .footer-1pS .list-dL2 .divfootermain-info-soc-GQv {
  box-sizing: border-box;
  padding: 0.7rem 0rem 0.9rem 0rem;
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  background-color: #f6f9fa;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .footer-1pS .list-dL2 .divfootermain-info-soc-GQv .item--xoY {
  margin: 0.2rem 0.6rem 0rem 0rem;
  text-align: right;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #141221;
  font-family: Commissioner, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .footer-1pS .list-dL2 .divfootermain-info-soc-GQv .list-dug {
  height: 100%;
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .footer-1pS .list-dL2 .divfootermain-info-soc-GQv .list-dug .item-margin-Pdx {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .footer-1pS .list-dL2 .divfootermain-info-soc-GQv .list-dug .item-margin-YFx {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .footer-1pS .list-dL2 .divfootermain-info-soc-GQv .list-dug .item-margin-5Wn {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--NiS .auto-group-bcqk-Min .footer-1pS .list-dL2 .divfootermain-info-soc-GQv .list-dug .item-cmc {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
