
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 32rem;
}.item-320-Ztz {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item-320-Ztz .header-vjY {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item-320-Ztz .header-vjY .headercontent-push-efY {
  width: 70rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-320-Ztz .header-vjY .headercontent-push-efY .slide-16-9-3-1FC {
  margin-bottom: 10rem;
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  background-color: #8378d5;
  flex-shrink: 0;
}
.item-320-Ztz .header-vjY .headercontent-push-efY .slide-16-9-4-jBC {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  background-color: #8378d5;
  flex-shrink: 0;
}
.item-320-Ztz .header-vjY .headercontent-mobile-gML {
  margin: 0 1.6rem;
  width: calc(100% - 3.2rem);
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.item-320-Ztz .header-vjY .headercontent-mobile-gML .frame-4-Ds4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.item-320-Ztz .header-vjY .headercontent-mobile-gML .frame-4-Ds4 .item-2-Y8e {
  margin-right: 8.2rem;
  width: 15rem;
  height: 4.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item-320-Ztz .header-vjY .headercontent-mobile-gML .frame-4-Ds4 .icn-burger-fj4 {
  width: 5.6rem;
  height: 5.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-320-Ztz .header-vjY .headercontent-desktop-Pux {
  width: 100%;
  height: 6.6rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.item-320-Ztz .header-vjY .headercontent-desktop-Pux .item-2-Z3k {
  width: 15rem;
  height: 4.6rem;
  position: absolute;
  left: 5rem;
  top: 1rem;
  object-fit: cover;
  vertical-align: top;
}
.item-320-Ztz .header-vjY .headercontent-desktop-Pux .frame-1-gPG {
  width: 110.1rem;
  height: 2.8rem;
  position: absolute;
  left: -83.8rem;
  top: 1.85rem;
  display: flex;
  align-items: flex-start;
}
.item-320-Ztz .header-vjY .headercontent-desktop-Pux .frame-1-gPG .item--1Ae {
  margin: 0.3rem 2.1rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-320-Ztz .header-vjY .headercontent-desktop-Pux .frame-1-gPG .item--ejQ {
  margin-right: 1.8409rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-320-Ztz .header-vjY .headercontent-desktop-Pux .frame-1-gPG .item--vwp {
  margin-right: 2.3591rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-320-Ztz .header-vjY .headercontent-desktop-Pux .frame-1-gPG .item--4o8 {
  margin-right: 1.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-320-Ztz .header-vjY .headercontent-desktop-Pux .frame-1-gPG .item--bo4 {
  margin-right: 2.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-320-Ztz .header-vjY .headercontent-desktop-Pux .frame-1-gPG .item--hLJ {
  margin-right: 2.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-320-Ztz .header-vjY .headercontent-desktop-Pux .frame-1-gPG .item--DJe {
  margin-right: 1.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-320-Ztz .header-vjY .headercontent-desktop-Pux .frame-1-gPG .item--Xq8 {
  margin-right: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-320-Ztz .header-vjY .headercontent-desktop-Pux .frame-1-gPG .item--GXp {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-320-Ztz .ul-collapsed-AdC {
  box-sizing: border-box;
  padding: 4.8rem 3.2rem 5.2rem 1.7rem;
  width: 100%;
  height: 43.5rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item-320-Ztz .ul-collapsed-AdC .frame-1-JjQ {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item-320-Ztz .ul-collapsed-AdC .frame-1-JjQ .auto-group-srwc-4ia {
  box-sizing: border-box;
  padding: 0rem 0.659rem 5.4rem 0.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-320-Ztz .ul-collapsed-AdC .frame-1-JjQ .auto-group-srwc-4ia .item--oRG {
  margin: 0rem 0rem 4.8rem 0.259rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-320-Ztz .ul-collapsed-AdC .frame-1-JjQ .auto-group-srwc-4ia .auto-group-u7gj-VJ6 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-320-Ztz .ul-collapsed-AdC .frame-1-JjQ .auto-group-srwc-4ia .auto-group-u7gj-VJ6 .item--Sj8 {
  margin-right: 5.8409rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-320-Ztz .ul-collapsed-AdC .frame-1-JjQ .auto-group-srwc-4ia .auto-group-u7gj-VJ6 .item--MbC {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-320-Ztz .ul-collapsed-AdC .frame-1-JjQ .auto-group-3eri-sJe {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-320-Ztz .ul-collapsed-AdC .frame-1-JjQ .auto-group-3eri-sJe .item--S6r {
  margin-right: 5.8rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-320-Ztz .ul-collapsed-AdC .frame-1-JjQ .auto-group-3eri-sJe .item--9GA {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-320-Ztz .ul-collapsed-AdC .frame-1-JjQ .auto-group-g9cj-qug {
  box-sizing: border-box;
  padding: 5.4rem 0.85rem 0rem 1.65rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-320-Ztz .ul-collapsed-AdC .frame-1-JjQ .auto-group-g9cj-qug .auto-group-haqn-nK8 {
  margin: 0rem 1.45rem 5.4rem 1.35rem;
  width: calc(100% - 2.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-320-Ztz .ul-collapsed-AdC .frame-1-JjQ .auto-group-g9cj-qug .auto-group-haqn-nK8 .item--KZx {
  margin-right: 6.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-320-Ztz .ul-collapsed-AdC .frame-1-JjQ .auto-group-g9cj-qug .auto-group-haqn-nK8 .item--FiW {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-320-Ztz .ul-collapsed-AdC .frame-1-JjQ .auto-group-g9cj-qug .auto-group-gi1c-ZDQ {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-320-Ztz .ul-collapsed-AdC .frame-1-JjQ .auto-group-g9cj-qug .auto-group-gi1c-ZDQ .item--ic6 {
  margin-right: 6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-320-Ztz .ul-collapsed-AdC .frame-1-JjQ .auto-group-g9cj-qug .auto-group-gi1c-ZDQ .item--2cn {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3722222646;
  color: #1e1e1e;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
