
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 5.5rem;
}.scroll-qzn {
  width: 100%;
  height: 5.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
